version: '3.8'
services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      -rabbitmq_data:/var/lib/rabbitmq/
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics","-q","ping"]
      interval: 10s
      timeout: 5s
      retries: 5
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    ports:
      - "51214:5432"
    environment:
      POSTGRES_USER: devdb
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: devdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U devdb"]
      interval: 10s
      timeout: 5s
      retries: 5
    
volumes:
    rabbitmq_data: 
    postgres_data: 
