version: '3.8'
services:
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    ports:
      - "51214:5432"
    environment:
      POSTGRES_USER: devdb
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: devdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U devdb"]
      interval: 10s
      timeout: 5s
      retries: 5
  redis:
    image: redis:alpine
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --requirepass sample123 --save 20 1 --loglevel warning
    volumes:
      - redis_data:/data
    
volumes:
    postgres_data: 
    redis_data:
      driver: local
